<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Aplicar')}"/>
<body>
<div class="p-5 text-center">
    <a th:href="@{/applicant}">
        <img th:src="@{/img/mexico.png}" alt="Escudo de México"/>
    </a>
</div>
<div class="container-fluid d-flex flex-column justify-content-center w-50">
    <h1 class="mb-4">Formulario de Aspirante</h1>
    <p>Por favor, llena el siguiente formulario para aplicar a la carrera de tu elección.</p>
    <form method="post" th:object="${applicant}" th:action="@{/applicant/apply}">
        <div class="mb-3">
            <label for="fullName" class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" id="fullName" name="fullName" required th:field="*{fullName}">
        </div>
        <div class="mb-3">
            <label for="curp" class="form-label">Clave Única de Registro Poblacional (CURP)</label>
            <input type="text" class="form-control" id="curp" name="curp" required th:field="*{curp}"  maxlength="18"
                   pattern=".{18,}"
                   title="El CURP debe tener exactamente 18 caracteres">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="phone" name="phone" required th:field="*{phone}">
        </div>
        <div class="mb-3">
            <label class="form-label">Carrera</label>
            <select class="form-select" name="career" required th:field="*{careerId}">
                <option value="">Selecciona una carrera</option>
                <option th:each="career : ${careers}" th:value="${career.id}" th:text="${career.name}"></option>
            </select>
        </div>
        <div class="d-flex pt-3 gap-4 justify-content-center align-items-center text-center">
            <a class="btn btn-outline-secondary w-100" th:href="@{/applicant}">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
            <button type="submit" class="btn btn-custom w-100">
                <i class="fas fa-save"></i> Enviar
            </button>
        </div>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"/>

<script th:src="@{/js/account-form.js}"></script>
</body>
</html>
