<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="es">
<head th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minium-scale=1.0">
    <title>[[${title}]] | Sistema de Colegios Militarizados</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.5.2/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sweetalert/2.1.0/sweetalert.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/font-awesome/6.5.2/js/all.js}"></script>
</head>
<body>
<footer th:fragment="footer" class="text-center text-lg-start mt-4">
    <div class="text-center p-3">
        © [[${T(java.time.Year).now().value}]] Sistema de Colegios Militarizados - Gobierno de México
    </div>
</footer>

<nav th:fragment="navbar(currentPage)" class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand mx-4" th:href="@{/}">
            <img th:src="@{/img/mexicomini.png}" alt="Logo" class="d-inline-block img-fluid align-text-top me-2">
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${currentPage == 'home'} ? 'fs-5'" th:href="@{/}">
                        <i class="fa-solid fa-house"></i>
                        Inicio
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('TECNOLOGIAS_DE_LA_INFORMACION')">
                    <a class="nav-link" th:classappend="${currentPage == 'users'} ? 'fs-5'"
                       th:href="@{/users}">
                        <i class="fa-solid fa-user"></i>
                        Usuarios
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('TECNOLOGIAS_DE_LA_INFORMACION')">
                    <a class="nav-link" th:classappend="${currentPage == 'roles'} ? 'fs-5'"
                       th:href="@{/roles}">
                        <i class="fa-solid fa-users"></i>
                        Roles
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('RECURSOS_HUMANOS')">
                    <a class="nav-link" th:classappend="${currentPage == 'employees'} ? 'fs-5'"
                       th:href="@{/employees}">
                        <i class="fa-solid fa-users"></i>
                        Empleados
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('RECURSOS_HUMANOS')">
                    <a class="nav-link" th:classappend="${currentPage == 'areas'} ? 'fs-5'"
                       th:href="@{/areas}">
                        <i class="fa-solid fa-sitemap"></i>
                        Áreas
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('SERVICIOS_ESCOLARES')">
                    <a class="nav-link" th:classappend="${currentPage == 'applicants'} ? 'fs-5'"
                       th:href="@{/applicants}">
                        <i class="fa-solid fa-handshake"></i>
                        Aspirantes
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('SERVICIOS_ESCOLARES')">
                    <a class="nav-link" th:classappend="${currentPage == 'applicants'} ? 'fs-5'" th:href="@{/periods}">
                        <i class="fa-solid fa-calendar-days"></i>
                        Periodos
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyAuthority(
                            'ESTUDIANTE',
                            'PROFESOR',
                            'SERVICIOS_ESCOLARES',
                )">
                    <a class="nav-link" th:classappend="${currentPage == 'grades'} ? 'fs-5'"
                       th:href="@{/grades}">
                        <i class="fa-solid fa-list"></i>
                        Calificaciones
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyAuthority(
                            'PROFESOR',
                            'SERVICIOS_ESCOLARES',
                )">
                    <a class="nav-link" th:classappend="${currentPage == 'groups'} ? 'fs-5'"
                       th:href="@{/groups}">
                        <i class="fa-solid fa-user-group"></i>
                        Grupos
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyAuthority(
                            'ESTUDIANTE',
                            'PROFESOR',
                            'SERVICIOS_ESCOLARES',
                            'RECURSOS_HUMANOS',
                            'TECNOLOGIAS_DE_LA_INFORMACION'
                )">
                    <a class="nav-link" th:classappend="${currentPage == 'scholarships'} ? 'fs-5'"
                       th:href="@{/scholarships}">
                        <i class="fa-solid fa-comments-dollar"></i>
                        Becas
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAnyAuthority(
                            'ESTUDIANTE',
                            'PROFESOR',
                            'SERVICIOS_ESCOLARES',
                            'RECURSOS_HUMANOS',
                            'TECNOLOGIAS_DE_LA_INFORMACION'
                )">
                    <a class="nav-link" th:classappend="${currentPage == 'account'} ? 'fs-5'"
                       th:href="@{/account}">
                        <i class="fa-solid fa-circle-user"></i>
                        Cuenta
                    </a>
                </li>
            </ul>
            <div class="nav-item m-3 ms-auto">
                <form method="post" name="logoutForm" th:action="@{/logout}">
                    <button type="submit" class="dropdown-item text-white">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Salir
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>