<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Inicio')}"/>
<body>
<nav th:replace="~{fragments :: navbar('users')}"/>

<div class="container mt-4">
    <h1 class="mb-4">Formulario de Usuarios</h1>

    <form th:object="${user}">
        <div class="mb-3">
            <label for="fullName" class="form-label">Nombre completo</label>
            <input type="text" class="form-control" id="fullName" name="fullName" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="curp" class="form-label">CURP</label>
            <input type="text" class="form-control" id="curp" name="curp" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Rol</label>
            <select class="form-select" id="role" name="role" required>
                <option value="">Seleccionar rol</option>
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role.name}"/>
            </select>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="active" name="active">
            <label class="form-check-label" for="active">Activo</label>
        </div>
        <div class="d-flex gap-4 justify-content-center align-items-center text-center">
            <a type="button" class="btn btn-secondary" th:href="@{/users}" >
                <i class="fas fa-arrow-left"></i> Regresar
            </a>
            <button type="submit" class="btn btn-custom">
                <i class="fas fa-save"></i> Guardar
            </button>
        </div>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"/>
</body>
</html>
