<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      lang="en">
<head th:replace="~{fragments :: head('Error')}"></head>
<body>
<div class="container-fluid">
    <div class="text-center p-3">
        <a th:href="@{/}">
            <img class="p-5" th:src="@{/img/mexico.png}" alt="Escudo de México"/>
        </a>
        <h1>500 :(</h1>
        <small>Eso es un error.</small>
        <p>Hay un error en el servidor.</p>
    </div>
    <footer th:replace="~{fragments :: footer}"></footer>
</div>
</body>
</html>